<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes - Sign up</title>

  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/signup.css">

  <link href="https://fonts.googleapis.com/css?family=Rhodium+Libre&display=swap" rel="stylesheet">
</head>

<body>
  <div class="note-focus">
    <div class="note-corner"></div>
    <img src="img/logo.svg" alt="Notes logo" class="logo">
    <form autocomplete="off">
      <input type="text" name="full-name" id="full-name" placeholder="Full Name">
      <input type="email" name="email" id="email-input" placeholder="Email">
      <input type="password" name="pass-input" id="pass-input" placeholder="Password">
      <div class="password-strength">
        <p id="pass-min-length" class="not-met">The password must be atleast 8 characters long</p>
        <p id="pass-capital" class="not-met">The password must contain a capital letter</p>
        <p id="pass-number" class="not-met">The password must contain a number</p>
        <p id="pass-special" class="not-met">The password must contain a special character</p>
      </div>
      <input type="password" name="re-pass-input" id="re-pass-input" placeholder="Confirm Password">
      <button type="submit">Sign up</button>
    </form>
  </div>
  <p>Already have an account? <a href="login.html">Log in</a></p>

  <script src="scripts/signup.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.all.min.js"></script>
</body>

</html>