:root {
  --sticky-number: 5;
  --sticky-width: 18%;
  --sticky-height: 190px;
  --row-gap: 60px;
  --sticky-corner: 40px;
}

body {
  position: relative;
  min-height: 100vh;
}

.logo-wrapper {
  background: var(--sticky-1-main);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 120px;
  height: auto;
}

.create-btn {
  display: inline-flex;
  background: var(--sticky-1-main);
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 65px;
  width: 65px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-btn svg {
  transform: scale(1.4);
  position: absolute;
}

main {
  padding-top: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--sticky-number), var(--sticky-width));
  gap: var(--row-gap) calc((100% - (var(--sticky-width) * var(--sticky-number))) / (var(--sticky-number) - 1));
  grid-auto-rows: var(--sticky-height);
  width: 95%;
  min-height: calc(100vh - 170px);
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
}

#burger-btn {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

#burger-close-btn {
  display: block;
  transform: scale(0.8);
  margin-bottom: 20px;
}

.user-info {
  display: inline-block;
  height: 100%;
  position: fixed;
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: left;
  overflow: hidden;
  background: #8a8a8a;
  z-index: 1;
  padding: 15px;
  box-sizing: border-box;
  width: 350px;
}

.user-info>* {
  cursor: pointer;
  font-size: 1.3rem;
  display: inline-block;
  margin: 0;
}

#footer {
  position: absolute;
  bottom: 10px;
}

#footer>p {
  margin: 0;
  font-size: 1.1rem;
}

.blank-overlay {
  height: calc(100vh - 130px);
}

.blank-overlay p {
  width: 90%;
  display: block;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  text-align: center;
}

.blank-overlay img {
  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 130px;
  height: auto;
}

.note-focus {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 2;
  padding: 60px;
  padding-top: 30px;
}

.note-focus.sticky-1 {
  background: var(--sticky-1-main);
}

.note-focus.sticky-1 .note-corner {
  background: var(--sticky-1-accent);
}

.note-focus.sticky-2 {
  background: var(--sticky-2-main);
}

.note-focus.sticky-2 .note-corner {
  background: var(--sticky-2-accent);
}

.note-focus.sticky-3 {
  background: var(--sticky-3-main);
}

.note-focus.sticky-3 .note-corner {
  background: var(--sticky-3-accent);
}

.note-focus .close-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}

.note-focus .note-settings {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: center;
}

.note-focus .note-settings>svg {
  transform: scale(1.2);
  margin-bottom: 20px;
  cursor: pointer;
}

.note-focus .note-settings #pin-btn {
  transform: rotate(45deg) scale(1.2);
}

.note-focus[data-pinned="false"] .note-settings #pin-btn {
  opacity: 50%;
}

.note-focus[data-pinned="true"] .note-settings #pin-btn {
  opacity: 100%;
}

.color-selector:not(.hide) {
  margin-bottom: 20px;
  display: flex;
  height: auto;
  flex-direction: column;
  /* transform: scaleY(0);
  display: none; */
}

.color-selector.hide {
  height: 0;
}

.color-selector input {
  display: none;
}

.color-selector div {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #444;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-selector div svg {
  transform: scale(0.8);
  display: none;
}

.color-selector input[type='radio']:checked+div svg {
  display: block;
}

.color-selector label[for="sticky-1"] div {
  background: var(--sticky-1-main);
}

.color-selector label[for="sticky-2"] div {
  background: var(--sticky-2-main);
}

.color-selector label[for="sticky-3"] div {
  background: var(--sticky-3-main);
}

.color-selector label:not(:last-of-type) div {
  margin-bottom: 10px;
}

.note-focus .confirm-btn {
  cursor: pointer;
  transform: scale(1.3);
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#note-title,
#note-body {
  background: none;
  border: 0;
}

#note-title {
  text-align: center;
  height: 10%;
  width: 95%;
}

.note-focus.sticky-1 #note-title {
  border-bottom: 1px solid var(--sticky-1-accent);
}

.note-focus.sticky-2 #note-title {
  border-bottom: 1px solid var(--sticky-2-accent);
}

.note-focus.sticky-3 #note-title {
  border-bottom: 1px solid var(--sticky-3-accent);
}


#note-body,
.os-host-textarea {
  height: 90%;
  width: 100%;
  font-family: var(--my-font);
  padding: 10px 0;
  box-sizing: border-box;
  resize: none;
}

/*// SMALL NOTES STYLES //*/
.note-small {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.note-small.sticky-1 {
  background: var(--sticky-1-main);
}

.note-small.sticky-2 {
  background: var(--sticky-2-main);
}

.note-small.sticky-3 {
  background: var(--sticky-3-main);
}

.note-small>.note-corner {
  align-self: flex-start;
  width: var(--sticky-corner);
  height: var(--sticky-corner);
  position: absolute;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  border-top-left-radius: 5px;
}

.note-small.sticky-1>.note-corner {
  background: var(--sticky-1-accent);
}

.note-small.sticky-2>.note-corner {
  background: var(--sticky-2-accent);
}

.note-small.sticky-3>.note-corner {
  background: var(--sticky-3-accent);
}

.note-small svg {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(45deg);
}

.note-small p {
  user-select: none;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.note-small:not(.pinned) svg {
  display: none;
}

body .note-focus:not(.hide)~*:not(.note-focus):not(.blank-overlay) {
  filter: blur(1px);
}

body .note-focus:not(.hide)~.blank-overlay>* {
  filter: blur(1px);
}

/*// MEDIA QUERIES //*/
@media screen and (max-width: 1600px) {
  :root {
    --sticky-number: 4;
    --sticky-width: 22%;
    --sticky-height: 190px;
    --row-gap: 50px;
    --sticky-corner: 40px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --sticky-number: 4;
    --sticky-width: 24%;
    --sticky-height: 190px;
    --row-gap: 50px;
    --sticky-corner: 40px;
  }

  .note-focus {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --sticky-number: 3;
    --sticky-width: 30%;
    --sticky-height: 190px;
    --row-gap: 50px;
    --sticky-corner: 40px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --sticky-number: 3;
    --sticky-width: 32%;
    --sticky-height: 190px;
    --row-gap: 35px;
    --sticky-corner: 40px;
  }

  .logo {
    width: 100px;
  }

  .blank-overlay p {
    font-size: 2rem;
  }

  .blank-overlay img {
    width: 110px;
    bottom: 75px;
    right: 75px;
  }

  .note-focus {
    width: 80%;
  }

  .note-focus .note-settings {
    top: 20px;
    right: 20px;
  }

  .note-focus .note-corner {
    width: 70px;
    height: 70px;
  }

  #note-title {
    width: 85%;
  }

  #note-body {
    min-height: 200px !important;
    height: 90% !important;
  }

  .note-focus .note-settings>svg {
    transform: scale(1);
  }

  .note-focus .note-settings #pin-btn {
    transform: rotate(45deg) scale(1);
  }

  .color-selector div {
    width: 25px;
    height: 25px;
  }

  .color-selector div svg {
    transform: scale(0.7);
    display: none;
  }

  .create-btn {
    width: 50px;
    height: 50px;
  }

  .create-btn svg {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 700px) {
  :root {
    --sticky-number: 2;
    --sticky-width: 46%;
    --sticky-height: 170px;
    --row-gap: 25px;
    --sticky-corner: 40px;
    font-size: 14px;
  }

  .logo {
    width: 80px;
  }

  .user-info>* {
    font-size: 1.1rem;
  }

  .note-focus {
    width: 90%;
  }

  .note-focus .confirm-btn,
  .note-focus .close-btn {
    transform: scale(1);
  }
}

@media screen and (max-width: 520px) {
  :root {
    --sticky-number: 1;
    --sticky-width: 85%;
    --sticky-height: 220px;
    --row-gap: 25px;
    --sticky-corner: 40px;
  }

  .logo-wrapper {
    padding: 10px 20px;
  }

  main {
    justify-content: center;
    gap: var(--row-gap) 30px;
  }

  .note-focus .note-corner {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --sticky-number: 1;
    --sticky-width: 90%;
    --sticky-height: 200px;
    --row-gap: 25px;
    --sticky-corner: 40px;
  }

  .blank-overlay p {
    font-size: 1.8rem;
  }

  main {
    justify-content: center;
    gap: var(--row-gap) 30px;
  }
}