.note-focus {
  justify-content: space-between;
}

.password-strength {
  display: none;
}

#pass-input:focus {
  margin-bottom: 0;
}

#pass-input:focus~.password-strength {
  margin: 20px 0 30px 0;
}

#pass-input:focus~.password-strength {
  display: block;
}

.password-strength p {
  font-size: 1.1rem;
  margin: 0;
  color: #2ecc71;
}

.password-strength p.not-met {
  color: #e74c3c;
}